<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cec.projectscorpio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".CourseListActivity"
            android:label="Courses"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>




        <activity
            android:name=".branches.CESemesterListActivity"
            android:label="Semesters"
            android:parentActivityName=".CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>

        <activity
            android:name=".branches.CSESemesterListActivity"
            android:label="Semesters"
            android:parentActivityName=".CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>

        <activity
            android:name=".branches.ECSemesterListActivity"
            android:label="Semesters"
            android:parentActivityName=".CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>

        <activity
            android:name=".branches.MESemesterListActivity"
            android:label="Semesters"
            android:parentActivityName=".CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>





        <activity
            android:name=".branches.firstYear.PCycleSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>

        <activity
            android:name=".branches.firstYear.CCycleSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".CourseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>




        <activity
            android:name=".branches.civil.ThirdSemCivilSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".branches.CESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CESemesterListActivity" />
        </activity>

        <activity
            android:name=".branches.civil.FourthSemCivilSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".branches.CESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CESemesterListActivity" />
        </activity>

        <activity
            android:name=".branches.civil.FifthSemCivilSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".branches.CESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CESemesterListActivity" />
        </activity>

        <activity
            android:name=".branches.civil.SixthSemCivilSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".branches.CESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CESemesterListActivity" />
        </activity>

        <activity
            android:name=".branches.civil.SeventhSemCivilSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".branches.CESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CESemesterListActivity" />
        </activity>

        <activity
            android:name=".branches.civil.EighthSemCivilSubjectsListActivity"
            android:label="Subjects"
            android:parentActivityName=".branches.CESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CESemesterListActivity" />
        </activity>




        <activity
            android:name=".YoutubeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Video"
            android:parentActivityName=".branches.CSESemesterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".branches.CSESemesterListActivity" />
        </activity>

    </application>

</manifest>